* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #434343;
    color: white;
    font-family: "Roboto", sans-serif;
}

li {
    list-style-type: none;
}

// color font cards
.colorGrey {
    opacity: 0.7;
    font-weight: 300;
}

.container {
    margin: 30px auto;
}

// layout delle card
ul.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 30px;

    li {
        display: flex;
        flex-direction: column;

        position: relative;

        margin: 20px;

        .poster {
            width: 100%;
            object-fit: contain;
        }

        .descriptionFilm {
            overflow: auto;
            display: none;

            position: absolute;
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;

            font-size: 20px;

            .flag {
                width: 40px;
            }
        }

        &:hover .poster {
            opacity: 0.2;
        }

        &:hover .descriptionFilm {
            display: block;
        }
    }
}
